.startContainer {
  max-width: 920px;
  margin: auto;
}

.phaseButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.stratGrid {
  margin: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


  row-gap: 10px;

}
