<div class="startContainer">
  <h1>Stratagems</h1>
  <div class="phaseButtons">
    <button onclick="">Command</button>
    <button onclick="">Movement</button>
    <button onclick="">Psychic</button>
    <button onclick="">Shooting</button>
    <button onclick="">Charge</button>
    <button onclick="">Fight</button>
    <button onclick="">Morale</button>

    <input type="text">
  </div>

  <div *ngFor="let stratagem in stratList" class="stratGrid">
    <app-stratagem [selectedStratagem]="stratagem"></app-stratagem>
  </div>
</div>
