.titleStratagem
{
  margin-left: 0px;
  margin-right: auto;
}

h2 {
  color: white;
}

.cpStratagem
{
  margin-left: auto;
  margin-right: 5px;
}

.headerStratagem
{
  background-color: #304c64;
  height: 2.2em;
  margin-bottom: 10px;
}

.cardStratagem
{
  margin: 1rem;
  padding: 0.2rem;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  height: 20em;
  min-width: 30em;
  max-width: 30em;
  max-height: 30em;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
