<div class="phaseButtons">

  <input type="button" value="Command"
          [(ngModel)]="selectedFilterValue"
          (change)="onFilterButtonSelection()"
          />

  <input type="button" value="Movement"
         [(ngModel)]="selectedFilterValue"
         (change)="onFilterButtonSelection()"/>

  <input type="radio" value="Psychic"
         [(ngModel)]="selectedFilterValue"
         (change)="onFilterButtonSelection()"/>

  <input type="radio" value="Shooting"
          [(ngModel)]="selectedFilterValue"
          (change)="onFilterButtonSelection()"/>

  <input type="radio" value="Charge"
          [(ngModel)]="selectedFilterValue"
          (change)="onFilterButtonSelection()"/>

  <input type="radio" value="Fight"
          [(ngModel)]="selectedFilterValue"
          (change)="onFilterButtonSelection()"/>

  <input type="radio" value="Morale"
          [(ngModel)]="selectedFilterValue"
          (change)="onFilterButtonSelection()"/>

  <input type="text" class="searchBar">

</div>
