<mat-card class="cardStratagem">

  <mat-card-header class="headerStratagem" id = "testid">
    <div class="titleStratagem">
      <h2><b>{{title}}</b></h2>
    </div>
    <div class="cpStratagem">
      <h2><b>{{cp}}</b></h2>
    </div>
  </mat-card-header>

  <mat-card-subtitle class="subtitleStratagem">
    <p>
      <i><b>{{subtitle}}</b></i>
    </p>
  </mat-card-subtitle>

  <mat-card-content class="contentStratagem">
    <p class="flavourTextStratagem">
      <i>{{flavourText}}</i>
    </p>
    <p class="descriptionTopStratagem">
      {{descriptionTop}}
    </p>
    <ul>
      <li *ngFor="let string of list">{{string}}</li>
    </ul>
    <p class="descriptionBottomStratagem">
      {{descriptionBottom}}
    </p>
  </mat-card-content>

</mat-card>
