h2 {
  color: white;
}

.headerStratagem
{
  height: 2.2em;
  margin-bottom: 0.5em;
  justify-content: space-between;
}

.titleStratagem
{
  margin-left: 8px;
  margin-right: auto;
}

.cpStratagem{
  margin-right: 8px;
  margin-left: auto;
}

.subtitleStratagem
{
  margin-top: 0.0em;
  margin-bottom: 0.0em;
}

.flavourTextStratagem
{
  margin-top: 0em;
}

.cardStratagem
{
  margin: 1rem;
  padding: 0.2rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch;
  min-width: 0em;
  max-width: 30em;
  max-height: 100em;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
