<mat-card class="cardStratagem">

  <mat-card-header [ngStyle]="{'background-color': selectedStratagem?.colour}" class="headerStratagem">
    <div class="titleStratagem">
      <h2><b>{{selectedStratagem?.title}}</b></h2>
    </div>
    <div class="cpStratagem">
      <h2><b>{{selectedStratagem?.cpCost}}</b></h2>
    </div>
  </mat-card-header>

  <mat-card-subtitle class="subtitleStratagem">
    <p>
      <i><b>{{selectedStratagem?.subtitle}}</b></i>
    </p>
  </mat-card-subtitle>

  <mat-card-content class="contentStratagem">
    <p class="flavourTextStratagem">
      <i>{{selectedStratagem?.flavourText}}</i>
    </p>
    <p class="descriptionTopStratagem">
      {{selectedStratagem?.descriptionTop}}
    </p>
    <ul>
      <li *ngFor="let string of selectedStratagem?.modifiersList">{{string}}</li>
    </ul>
    <p class="descriptionBottomStratagem">
      {{selectedStratagem?.descriptionBottom}}
    </p>
  </mat-card-content>

</mat-card>
